<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Отдел_кадров.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Отдел_кадров.Properties.Settings>
            <setting name="SqlString" serializeAs="String">
                <value>Data Source=DESKTOP-48I07IM\SQL_KAB6_SERVER;Initial Catalog=Voronina1;Persist Security Info=True;User ID=Voronina;Password=Voronina</value>
            </setting>
        </Отдел_кадров.Properties.Settings>
    </userSettings>
</configuration>
